.tag-list_input-label {
  display: block;
  padding: 1rem 0.25rem;
}

.tag-list_input-label > input {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.tag-list__license {
  border: 1px solid var(--license-color);
  background: var(--license-color);
}

.tag-list__tag {
  border: 1px solid var(--tag-color);
  background: var(--tag-color);
}

.tag-list__fave {
  border: 1px solid var(--fave-color);
  background: var(--fave-color);
}

.tag-list__count {
  margin-left: 0.5rem;
  font-size: 0.7em;
}
