.tag-list__license {
  border: 1px solid var(--license-color);
  background: var(--license-color);
}

.tag-list__tag {
  border: 1px solid var(--tag-color);
  background: var(--tag-color);
}

.tag-list__fave {
  border: 1px solid var(--fave-color);
  background: var(--fave-color);
}

.tag-list__count {
  margin-left: 0.5rem;
  font-size: 0.7em;
}
