.tag-list_input-label {
  display: block;
  padding: 1rem 0.25rem;
}

.tag-list_input-label > input {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.tag-list__license,
.tag-list__tag {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 8px;
}

.tag-list__license {
  border: 1px solid var(--license-color);
  background: var(--license-color);
}

.tag-list__tag {
  border: 1px solid var(--tag-color);
  background: var(--tag-color);
}

.tag-list__count {
  margin-left: 0.25rem;
}

.tag-list__show-more {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  background: none;
  background: var(--orange);
  color: white;
  border: 1px solid var(--orange);
  border-radius: 8px;
}
