.url-list__back {
  margin: 1rem 0 0.25rem;
  padding: 0.5rem 0.75rem;
  background: var(--tag-color);
  color: white;
  border: 1px solid var(--tag-color);
  border-radius: 8px;
}

.url-list__license-details,
.url-list__about-me {
  margin: 2rem 0 1rem;
  padding: 1rem 0.75rem;
  border-radius: 5px;
}

.url-list__license-details {
  border: 1px dashed var(--license-color);
}

.url-list__about-me {
  border: 1px dashed var(--green);
}

.url-list__license-details > p {
  margin: 0.75rem 0 0.75rem 1rem;
}

.url-list__listing {
  border: 1px solid var(--green);
  padding: 1rem 0.75rem;
  margin: 2rem 0;
  border-radius: 5px;
}

.url-list__listing.url-list__listing--fave {
  border: 2px solid var(--fave-color);
}

.url-list__star {
  font-size: 1.3em;
  color: var(--fave-color);
}

.url-list__tag-container {
  margin-top: 1rem;
}

.url-list__tag,
.url-list__license {
  background: none;
}

.url-list__tag {
  border: 1px dotted var(--tag-color);
  color: var(--tag-color);
}

.url-list__tag.url-list__tag--active {
  border: 1px solid var(--tag-color);
  background: var(--tag-color);
  color: white;
}

.url-list__license {
  border: 1px dotted var(--license-color);
  color: var(--license-color);
}

.url-list__license.url-list__license--active {
  border: 1px solid var(--license-color);
  background: var(--license-color);
  color: white;
}

.url-list__not-found {
  margin: 6rem 0 5rem;
}
